@model IEnumerable<trankimxuanthuy_lab_456.Models.Course>
    @{ 
        ViewBag.Title = "Home Page";
    }
<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Datetime - @course.Leturer.Name
            </li>
        }
    </ul>
</div>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")

                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Leturer.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
        </li>

    }
